{% extends 'base.html' %}

{% block content %}
<div class="container">
  
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
  {% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% endif %}
  {% endif %}
  <h1>Log In</h1>
  <form class="card login-card" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <ul class="card-body">
      <li class="form-group">
        <label for="username">{{ form.username.label_tag }}</label>
        <span id="username" class="form-control">{{ form.username }}</span>
      </li>
  
      <li class="form-group">
        <label for="password">{{ form.password.label_tag }}</label>
        <span id="password" class="form-control">{{ form.password }}</span>
      </li>
    </ul>
  
    <input class="card-footer" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</p>
</div> 
{% endblock %}