<ul class="card-deck">
  {% for book in books %}
  <li class="card m-1">
    <a class="card-body" href="{{ book.get_absolute_url }}">
      <h3 class="card-title">{{ book.title }}</h3>
      <p class="card-subtitle">By: {{ book.author }}</p>
      <p class="card-text">{{ book.summary|truncatechars:50 }}</p>
      <ul class="tag-list">
        {% for genre in book.genre.all %}
        <li class="tag-list__item">
          <button class="btn btn-outline-primary">{{ genre }}</button>
        </li>
        {% endfor %}
      </ul>
    </a>
  </li>
  {% endfor %}
</ul>