.hero-wrapper {
  position: relative;
  width: 100%;
}

.hero {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
  }
}

.hero--homepage {
  background-image: url('../img/homepage_hero.jpg');
}

.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5rem 0;
  text-align: center;
  color: white;
}