{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Local Library Home</title>{% endblock %}

{% block content %}
<div class="hero-wrapper">
  <div class="hero hero--homepage"></div>
  <div class="hero__content">
    <h1>Welcome to LocalLibrary</h1>
    <p>A learning project by Nathan Magyar</p>
    <p>based on the <a
        href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Tutorial_local_library_website"
        target="_blank">MDN Tutorial Series</a></p>
  </div>
</div>
<div class="container">
  <h2>Newest Books</h2>
  {% with newest_books as books %}
    {% include './catalog/includes/book_grid.html' %}
  {% endwith %}
</div>
{% endblock %}