{% extends 'base.html' %}

{% block content %}

{% if form.instance.imprint %}
<h1>Edit Book Instance</h1>
{% else %}
<h1>New Book Instance</h1>
{% endif %}
<h2>{{ book_title }}</h2>
<p>By: {{ book_author }}</p>
<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  {% if form.instance.imprint %}
  <input type="submit" value="Update">
  {% else %}
  <input type="submit" value="Add Instance">
  {% endif %}
</form>
{% if form.instance.imprint and perms.catalog.is_librarian %}
<p><a href="{% url 'catalog:book-instance-delete' pk=form.instance.id %}">Delete</a></p>
{% endif %}
{% endblock %}